{% extends "poll/base.html" %}
{% load humanize %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row m-1 d-flex justify-content-end">
    <a href="{% url 'create' %}" class="btn btn-primary">Create your own poll</a>
</div>
<div class="row mt-2">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Polls</h3>
            </div>
            <div class="" >
                {% for poll in top_3_polls %}
                    <div class="card mb-2 pl-3 pt-3">
                        <a class="text-decoration-underline" href="{% url 'vote' poll.id %}" ><h4>{{ poll.question }}</h4></a>
                        <div class="d-flex flex-row">
                        {% for poll_option in poll.options.all %}
                                <span class="mr-1">{{ poll_option.name }}: <strong>{{ poll_option.votes.count }}</strong></span>
                        {% endfor %}
                        </div>
                        <p class="relative-time"> ({{ poll.date_created|naturaltime  }})</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Polls</h3>
            </div>
            <div class="" >
                {% for poll in polls %}
                    <div class="card mb-2 pl-3 pt-3">
                        <a class="" href="{% url 'vote' poll.id %}" >
                            <h4>{{ poll.question }}</h4></a>
                        <div class="d-flex flex-row">
                        {% for poll_option in poll.options.all %}
                                <span class="mr-1">{{ poll_option.name }}: <strong>{{ poll_option.votes.count }}</strong></span>
                        {% endfor %}
                        </div>
                        <p class="relative-time"> ({{ poll.date_created|naturaltime  }})</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}