.navbar-default, .btn, .form-control, .panel {
	border-radius: 0;
}
.navbar-default {
    background-color: rgba(245, 245, 220, .7);
    border-color: rgba(245, 245, 220, .6);
    box-shadow: 0px 3px 3px 0px #ddd;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(245, 245, 220, .9);
    border-bottom: 4px solid #ddd;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: rgba(245, 245, 220, .7);
    border-color: rgba(245, 245, 220, .6);
    border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.panel-footer {
	background-color: rgba(245, 245, 220, .5);
    border-color: rgba(245, 245, 220, .4);
}
.panel {
	box-shadow: 0px 3px 3px 0px #ddd;
}
a.navbar-brand, .panel-title {
	font-weight: bolder;
}

.relative-time {
    font-style: italic;
    color: #as2133  ;
}


.head-title {
    text-align:center
}
body {
    font-family:sans-serif;
}

#vote {
    margin:4px;
    margin: auto;
    width: 100%;
    float:left;
}

#vote label {
    float:left;
    width:240px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#vote label span {
    text-align:center;
    font-size: 25px;
    padding:13px 0px;
    display:block;
}

#vote label input {
    position:absolute;
    top:-20px;
}

#vote input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}


#vote .vote-option-1 {
    background-color: rgba(255, 99, 132);
    color:#fff;
}

#vote .vote-option-2 {
    background-color: rgba(54, 162, 235);
    color:#fff;
}


#vote .vote-option-3 {



    background-color: rgba(255, 206, 86);
    color:#fff;
}


#vote .vote-option-4 {
    background-color: rgba(75, 192, 192);;
    color:#fff;
}

.question_input .invalid-feedback{
    display: block !important;
}
input [type="radio"] { display:none; }